name: Update Gists List

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-gists:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Generate gists markdown
        env:
          GH_TOKEN: ${{ secrets.GIST_TOKEN }}
        run: |
          gh auth status

          chmod +x .github/workflows/pull-gists-info.sh
          .github/workflows/pull-gists-info.sh > README.md

      - name: Commit changes
        run: |
          if git diff --quiet; then
            echo "No changes"
          else
            git config user.name "github-actions"
            git config user.email "github-actions@github.com"
            git add README.md
            git commit -m "Update gists list"
            git add .
            git commit -m "Internal changes"
            git push
          fi
